name: Deploy to EC2

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Create directory (if needed)
            sudo mkdir -p /var/www/itdefined.com
            
            # Navigate to directory
            cd /var/www/itdefined.com
            
            # Init git repo if doesn't exist
            if [ ! -d .git ]; then
              sudo git init .
              sudo git remote add origin https://${{ secrets.GH_TOKEN }}@github.com/${{ github.repository }}.git
            fi
            
            # Pull latest changes
            sudo git fetch
            sudo git reset --hard origin/main
            
            # Set permissions
            sudo chown -R www-data:www-data .
            sudo find . -type d -exec chmod 755 {} \;
            sudo find . -type f -exec chmod 644 {} \;
            
            # Restart web server
            sudo systemctl restart nginx